
{{> menu active="dashboard"}}

<section class="section">
  <div class="title">
    {{station.name}}
  </div>

    <div class="columns">
    <div class="column">
      <div class="box">
        <p class="has-text-weight-semibold">Temperature (°C)</p>
        <p>Min: {{stats.minTemp}} • Max: {{stats.maxTemp}}</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="has-text-weight-semibold">Wind (km/h)</p>
        <p>Min: {{stats.minWind}} • Max: {{stats.maxWind}}</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <p class="has-text-weight-semibold">Pressure (hPa)</p>
        <p>Min: {{stats.minPressure}} • Max: {{stats.maxPressure}}</p>
      </div>
    </div>
  </div>

   {{> list-report station=station}}
  {{> add-report  station=station}}

</section>
